__pycache__
.vscode
*.mp4
*.pdf
*.gif
*.csv
logScripts/logs/
logScripts/data/
logScripts/examples/
logScripts/pdfs/
!/Videos/infinity8.gif
!/trajectoriescsv/infinity8.csv
!/trajectoriescsv/helix_011.csv
!/trajectoriescsv/figure8.csv